<mat-list #shoes>
  <mat-list-item *ngFor="let task of taskList">
    <app-task (deleteTask)="deleteTask($event)" [task]="task"></app-task>
  </mat-list-item>
</mat-list>

<mat-form-field class="new-task-field">
  
    <input matInput #newTask placeholder="Add a task!" [(ngModel)]="newTaskName">
  
  
    <button mat-icon-button matSuffix  (click)="addTask(newTask.value)">
      <mat-icon>note_add</mat-icon>
    </button>
  
</mat-form-field>

<!-- <div>
  <input type="text" #newTask placeholder="Add a task!"/><button (click)="addTask(newTask.value)">Add</button>
</div> -->
